.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.basket{
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}
 
.goods {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
 
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 370px;
  background-color: #EEEEEE;
  border: 1px #BBB solid;
  padding: 5px;
}

.item__name {
  margin: 0px;
}

.item__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.item__info-img {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
}

.item__info-img img {
  width: 90%;
  height: 90%;
  margin: auto;
}

.item__info-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  width: 20%;
  height: 90%;
}

.item__info-data h2 {
  margin: 0px;
}

.item__info-data p {
  margin: 15px 0px 5px 0px;
}

.item__button_img {
  height: auto;
  width: 60px;
  margin: 0px -10px 5px -10px;
}

.item__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  margin: auto;
}

.item__buttons button {
  background-color: #428CFA;
  border-color: #BBB;
  height: 30%;
  width: 26px;
  border-radius: 4px;
  margin: -1px;
}

.item__buttons div {
  background-color: #FFF;
  border: 1px #BBB solid;
  height: 14%;
  padding: 3px 5px 8px 5px;
  position: relative;
  z-index: 1000;
}
